$first-color: #1da1f2;
$sec-color: #fff;
$third-color: #ff8800;
$firth-color: #50c8ff08;

ion-content{
  --background: $firth-color;
  background-color: $firth-color;
}

.container{
  --background: $firth-color;
  background-color: $firth-color;
}
.box{
	width: 40%;
  margin: 0 auto;
  padding: 3rem 2.5rem;
	border: 1px solid #ddd;
	box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%); 
	background-color: #fff;
}

.m-top-2rem{
  margin-top: 2rem;
}

.default-btn{
  color: $sec-color;
  --background: $first-color;
  background-color : $first-color;
}

.close{
    color: #808184;
    cursor: pointer;
}

.close:hover{
	color:red;
}