span{
    margin: 0 10px;
}
strong{
    font-size: 20px;
}
div{
    text-align: center;
}
.line{
    margin: 10px 0;
    padding: 0 2%;
}
.line span{
    display: block;
    background-color: rgb(78, 75, 75);
    height: 1px;
    width: 100%;
    margin: 0 0;
}
.sub-header{
    height: 100px;
}
.footer{
    padding: 25px 15px;
}
.footer-menu{
    margin: 20px 0;
}
