<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <div class="footer-menu">
        <span>home</span><span>profile</span><span>about</span><strong>Job
          Portal</strong><span>setting</span><span>contact us</span><span>application</span>
      </div>
      <p class="line"><span class="sub-line"></span></p>
      <div class="sub-header">
        <ion-icon name="ellipse-outline" size="large"></ion-icon>
        <ion-icon name="ellipse-outline" size="large"></ion-icon>
        <ion-icon name="ellipse-outline" size="large"></ion-icon>
        <ion-icon name="ellipse-outline" size="large"></ion-icon>
        <p>Copyright Reserved by SpareCode Consultancy ltd</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>