$first-color: #1da1f2;
$sec-color: #fff;
$third-color: #ff8800;
$firth-color: #50c8ff08;

ion-content{
  --background: $firth-color;
  background-color: $firth-color;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#container h3{
  font-weight: 600;
}

.signin h2, h6{
  color: $sec-color;
}

form ion-item{
  border: 1px solid #ddd;
}

h3{
  font-weight: 600;
}

.default-btn{
  color: $sec-color;
  --background: $first-color;
  background-color : $first-color;
}

#container ion-button {
  --background: #1da1f2;
  --background-activated: #88f4be;
  --background-focused: #ff8800;

  --color: #fff;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --padding-top: 10px;
  --padding-bottom: 10px;

}


.loginWithGoogle{
  margin: 1rem 0 0 0;
  --background: #fff !important;
  color: #000;
}

.loginWithGoogle ion-img{
  height:1rem;
  margin: 0 0.6rem 0 0;
}

.orSec{
    width: 70%;
    margin: auto; 
    border-top: 1px solid #cecece;
    position: relative;
}

.ortext{
    color: #8993a4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 4px;
    top: -13px;
    left: 50%;
    background: #fff;
    margin: 0 0 0 -16px;
    position: absolute;
}

.m-top-2rem{
  margin-top: 2rem;
}

.m-2rem{
  margin: 2rem;
}

.p-r-2rem{
  padding-right: 2rem;
}

.height-35{
  height: 35em;
}

.bo-ra-1{
  border-radius: 0.7rem;
}

.card-border{
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 9px 16px 0 rgb(0 106 194 / 20%); 
  background-color: #fff;
}

.color-3{
  color:#ff8800;
  text-decoration: none; 
}

.color-1{
  color:#1da1f2;
  text-decoration: none; 
}

.bg-color-1{
  background-color: #1da1f2;
}

.error{
  font-size: 0.8rem;
  color: #ff0000;
}

.forgotpassword{
  cursor: pointer;
}