<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-grid class="ion-padding bgBand">
      <ion-row style="height: 30%;">
        <ion-col size="2">
        </ion-col>
        <ion-col size="8">
      <ion-row class="ion-margin ion-justify-content-center">
        <ion-col size="8" class="ion-padding">
        <div class="ion-margin-top ">
          <p>Search Job</p>
          <input type="Text" placeholder="Enter Keyword, Company name, Designatioin">
          <!-- <input type="Text" placeholder="Enter Location" id="id_enter_location" > -->
          <button id="search-btn">Search</button>
          </div>
        </ion-col>
        <ion-col size="4">
        </ion-col>
      </ion-row>
        </ion-col>
      <ion-col size="2">
      </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>  
      <ion-row>
        <ion-col size="2">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col size="8" class="ion-margin">
              <h5>Jobs</h5>
              <div class="box-outline" style="background-color: #fff; height: 50%;">
                <p class="view-all"><a href="">View All</a></p>
              </div>
              <br>
              <h5>Recent Apply</h5>
              <div class="box-outline ion-margin-bottom" style="background-color: #fff; height: 50%;">
                <p class="view-all"><a href="">View All</a></p>
              </div>
            </ion-col>
            <ion-col size="3" class="ion-margin-start" style=" position: relative; top: -200px;" >
              <div>
                <div class="ion-padding ion-text-center box-outline ion-margin-vertical">
                  <div style="display: flex; justify-content: center;">
                    <ion-avatar>
                      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
                    </ion-avatar>
                  </div>
                  <h3>FirstName LastName</h3>
                  <p>Designation</p>
                  <p>at Company Name</p>
                  <h6>Profile</h6>
                  <p class="progressbar">
                  <ion-progress-bar value="0.8"></ion-progress-bar></p>
                  <div>
                    <span class="ion-text-start ion-margin-bottom" style="display:block; font-size: 15px;">Profile Performance </span>
                    <ion-row>
                      <ion-col size="6">
                        <div class="profile-perfomance-box">
                          <p>Total Apply</p>
                            <span>8237</span>
                        </div>
                      </ion-col>
                      <ion-col size="6">
                        <div class="profile-perfomance-box">
                          <p>Recruiter Action</p>
                          <span>3278</span>
                          
                        </div>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
                <div class="box-outline m-top-2rem ion-padding" style="">
                  <h4>FAQ</h4>
                  <hr>
                  <p>
                    <a href="">Click here</a> for frequently asked questions.
                  </p>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
