<ion-content>
    <div class="box">
      <form class="ion-padding" [formGroup]="resendPasswordFrom" (ngSubmit)="submitForm()" novalidate>
        <ion-grid>
                <ion-row>
                  <ion-col size="8">
                  <h3>Forgot Password</h3>
                  </ion-col>
                  <ion-col size="4" class="ion-text-end">
                    <ion-icon name="close-outline" class="close" (click)="close()" style="font-size: 2rem;"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div class="ion-margin">
                <ion-item class="ion-margin-top">
                  <ion-label position="floating">Email Id</ion-label>
                  <ion-input type="Email" formControlName="email" placeholder="Enter Email" required></ion-input>
                </ion-item>
              </div>
                <div class="m-top-2rem ion-margin">
                <ion-button type="submit" expand="full" class="default-btn ion-text-capitalize" >Send Email</ion-button>
              </div>

                <div class="m-top-2rem ion-text-center">
                <div class="orSec"><span class="ortext">Or</span></div>
                  <div class="ion-margin-vertical" >
                    <ion-button class="ion-text-capitalize loginWithGoogle" shape="round"><ion-img src="assets/img/google-G.png"></ion-img> Sign in with Google </ion-button>
                  </div>
                </div>
      </form>
    </div>
</ion-content>
