<ion-header>

  <div class="ion-padding">
    Job Portal
    <span>
    <ion-button href="signin/">SignIn</ion-button>
    <ion-button [routerLink]="['/signup']">Register</ion-button>
    <ion-button [routerLink]="['/changepassword']">Change Password</ion-button>
    <ion-button (click)="postreq()">post data</ion-button>
    <ion-button [routerLink]="['/resendpasswordemail']">resend </ion-button>
    <ion-button [routerLink]="['/profile']">profile </ion-button>
    <ion-button (click)="logout()">logout </ion-button>
    </span>
    </div>
</ion-header>