<ion-header>
  <div class="ion-padding" style="display: flex;">
    <span class="">Job Portal logo</span>
    <div class="spacer"></div>
    <a [routerLink]="['/']">home</a>
    <a [routerLink]="['/changepassword']">Change Password</a>
    <a [routerLink]="['/profile']">profile </a>
    <a (click)="logout()" class="logout-btn">logout</a>
  <div class="spacer"></div>
  <!-- <ion-button [routerLink]="['/signin']" class="default-btn">SignIn</ion-button>
  <ion-button [routerLink]="['/signup']" class="default-btn">Register</ion-button> -->
  <a [routerLink]="['/signin']" >SignIn</a>
  <a [routerLink]="['/signup']">Register</a>
  </div>
</ion-header>

